﻿body {
    background-color: #424242;
    color: #fff;
}

code {
    background-color: #424242;
}

.home-page-block:hover {
    color: #fff;
}

a {
    color: #64B5F6;
}
a:hover {
    color: #90CAF9;
}